.landing {
  background: #040a1e;
  //   color: white;

  & .navbar {
    // border: 2px solid red;
    background: rgba(23, 29, 48, 0.4);
    display: flex;
    padding: 20px 0;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 20px;
    }
    &_center {
      max-width: $maxwidth;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      align-items: center;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 20px;
      }
      & .links {
        display: flex;
        gap: 23px;

        &_item,
        a {
          color: #fff;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.16px;

          &:hover {
            color: #f9bd4d;
          }
        }

        & .active {
          border-bottom: 1px solid var(--Secondary-color, #f9bd4d);
        }
      }

      & .right {
        display: flex;
        align-items: center;
        gap: 28px;

        & .login {
          color: #f9bd4d;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        & .get-started {
          border-radius: 10px;
          background: var(
            --Primary-Color,
            linear-gradient(99deg, #1160f7 0%, #5a48f8 100%)
          );
          display: flex;
          padding: 16px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #fff;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }

  & .section_one {
    // border: 2px solid red;
    padding: 10px 0 106px;
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;

    &_center {
      max-width: $maxwidth;
      margin: 0 auto;
      // border: 2px solid blue;
      display: flex;
      justify-content: space-between;
      @media (max-width: $breakpoint-tablet) {
        font-size: 1rem;
      }
      @media (max-width: $breakpoint-small) {
        display: block;
        width: 100%;
        text-align: center;
      }
      & .left {
        width: 100%;
        max-width: 638px;
        margin: 0 auto;
        @media (max-width: $breakpoint-tablet) {
          text-align: center;
        }
        & h1 {
          color: var(--Heading-1, #fff);
          margin: 0;

          /* Heading 1 */
          font-family: Poppins;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 60px; /* 150% */
          letter-spacing: -0.4px;

          & span {
            color: var(--Secondary-color, #f9bd4d);
          }
        }

        & p {
          margin: 32px 0 24px;
          color: var(--Heading-2-Body-text, #ededed);
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 60px; /* 250% */
          letter-spacing: -0.24px;
          align-self: stretch;
          @media (max-width: $breakpoint-small) {
            font-size: 20px;
          }
        }

        & button {
          border-radius: 10px;
          background: linear-gradient(99deg, #1160f7 0%, #5a48f8 100%);
          display: flex;
          padding: 16px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #fff;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border: none;
          @media (max-width: $breakpoint-tablet) {
            width: fit-content;
            margin: 0 auto;
            text-align: right;
          }
          @media (max-width: $breakpoint-small) {
            width: 80%;
            margin: 0 auto;
          }
        }
      }

      & .right {
        flex-shrink: 40%;
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
        & .img {
          width: 100%;
          max-width: 400px;
        }
      }
    }

    &_bottom {
      max-width: $maxwidth;
      margin: 90px auto 0;
      justify-content: center;
      flex-direction: column;
      gap: 38px;

      & h2 {
        color: #fff;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 166.667% */
        letter-spacing: -0.36px;
        text-align: center;
      }

      & .trends {
        display: flex;
        gap: 24px;
        @media (max-width: $breakpoint-tablet) {
          flex-direction: column;
          width: 100%;
          margin: 0 auto;
        }
        @media (max-width: $breakpoint-small) {
          flex-direction: column;
          padding: 0px 10px;
          width: 100%;
        }

        & .trend {
          display: flex;
          flex-direction: column;
          gap: 17px;
          width: 100%;
          max-width: 422px;
          border-radius: 18px;
          border: 1px solid rgba(249, 189, 77, 0.6);
          background: rgba(255, 255, 255, 0.02);
          display: flex;
          padding: 20px 20px 20px 19px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 17px;
          flex: 1 0 0;
          align-self: stretch;
          @media (max-width: $breakpoint-tablet) {
            width: 100%;
            margin: 0 auto;
          }
          &_top {
            display: flex;
            align-items: center;
            padding-bottom: 17px;
            border-bottom: 1px solid rgba(236, 241, 240, 0.05);

            & .logo {
              border-radius: 50%;

              & img {
                width: 24px;
                height: 24px;
              }
            }

            & p {
              margin: 0;
              margin-left: 14px;
              margin-right: 86px;
              color: var(--Font-Color-Light-Title, #ecf1f0);
              font-family: Raleway;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          &_bottom {
            display: flex;
            gap: 3px;

            & .left {
              display: flex;
              flex-direction: column;
              gap: 9px;

              & .price {
                margin: 0;
                color: var(--Font-Color-Light-Title, #ecf1f0);
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                & span {
                  color: #ffd700;
                  font-size: 12px;
                }
              }
              & p {
                margin: 0;
                color: #22a657;
                font-feature-settings: 'salt' on, 'liga' off;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                // line-height: 160%; /* 28.8px */
              }
            }
          }
        }
      }
    }
  }

  & .section_two_container {
    background: rgba(23, 29, 48, 0.4);
    padding: 80px;
    @media (max-width: $breakpoint-large) {
      padding: 10px;
      text-align: center;
    }
    @media (max-width: $breakpoint-tablet) {
      padding: 10px;
      text-align: center;
    }
    & .section_two {
      max-width: $maxwidth;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $breakpoint-tablet) {
        display: block;
        width: 100%;
      }
      & .right {
        width: 100%;
        max-width: 638px;
        margin: 0 auto;

        & h2 {
          margin: 0;
          color: #fff;
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 60px; /* 166.667% */
          letter-spacing: -0.36px;
        }

        & p {
          color: #ededed;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 60px; /* 250% */
          letter-spacing: -0.24px;
        }
      }
      & .left {
        & .img {
          width: 100%;
          max-width: 400px;
        }
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
      }
    }
  }

  & .section_three_container {
    background: #040a1e;
    padding: 80px 0;
    @media (max-width: $breakpoint-tablet) {
      padding: 10px;
      text-align: center;
    }
    & .section_three {
      max-width: $maxwidth;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 32px;

      & h2 {
        margin: 0;
        color: #fff;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 166.667% */
        letter-spacing: -0.36px;
        text-align: center;
      }

      &_items {
        display: flex;
        gap: 96px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .item {
          border-radius: 10px;
          background: rgba(23, 29, 48, 0.4);
          box-shadow: 10px 10px 50px 0px #070d23;
          display: flex;
          max-width: 714px;
          height: 340px;
          padding: 40px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 12px;
          flex-shrink: 0;

          & h3 {
            margin: 12px 0 4px;
            color: #fff;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; /* 200% */
            letter-spacing: -0.2px;
            text-align: center;
          }

          & p {
            margin: 0;
            color: #ededed;
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
            letter-spacing: -0.16px;
            align-self: stretch;
          }
        }
      }

      & button {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(
          --Primary-Color,
          linear-gradient(99deg, #1160f7 0%, #5a48f8 100%)
        );
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        width: fit-content;
        margin: 40px auto 0;
      }
    }
  }

  & .section_four_container {
    background: rgba(23, 29, 48, 0.4);
    padding: 80px;
    @media (max-width: $breakpoint-large) {
      padding: 10px;
      text-align: center;
    }

    & .section_four {
      max-width: $maxwidth;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .left {
        width: 100%;
        max-width: 674px;
        margin: 0 auto;

        & h2 {
          margin: 0;
          color: #fff;
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 60px; /* 166.667% */
          letter-spacing: -0.36px;
        }

        & h3 {
          margin: 8px 0;
          color: #f9bd4d;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 60px; /* 250% */
          letter-spacing: -0.24px;
        }

        & p {
          color: #ededed;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px; /* 200% */
          letter-spacing: -0.2px;
          margin: 0;
        }

        & .bottom {
          display: flex;
          gap: 20px;
          flex-direction: column;
          margin-top: 20px;

          &_item {
            display: flex;
            flex-direction: column;
            gap: 15px;

            & p {
              margin: 0;
              color: #fff;
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 40px; /* 166.667% */
              letter-spacing: -0.24px;
            }

            & span {
              margin: 0;
              color: var(--Heading-2-Body-text, #ededed);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 40px;
              letter-spacing: -0.16px;
            }
          }
        }
      }
      & .right {
        & .img {
          width: 100%;
          max-width: 400px;
        }
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
      }
    }
  }

  & .section_five_container {
    background: #040a1e;
    padding: 80px;
    @media (max-width: $breakpoint-tablet) {
      padding: 10px;
      text-align: center;
    }

    & .section_five {
      max-width: $maxwidth;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border: 2px solid red;
      & .left {
        & .img {
          width: 100%;
          max-width: 400px;
        }
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
      }
      & .right {
        width: 100%;
        margin: 0 auto;
        max-width: 587px;
        & h2 {
          margin: 0;
          color: #fff;
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 60px; /* 166.667% */
          letter-spacing: -0.36px;
        }

        & h3 {
          margin: 16px 0;
          color: #f9bd4d;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 60px; /* 250% */
          letter-spacing: -0.24px;
        }

        & .bottom {
          display: flex;
          flex-direction: column;
          gap: 35px;
          width: fit-content;

          & p {
            margin: 0;
            color: #fff;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px; /* 166.667% */
            letter-spacing: -0.24px;
          }
        }
      }
    }
  }

  & .section_six_container {
    background: rgba(23, 29, 48, 0.4);
    padding: 80px;
    @media (max-width: $breakpoint-tablet) {
      padding: 10px;
      text-align: center;
    }

    & .section_six {
      max-width: $maxwidth;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 34px;

      & h2 {
        margin: 0;
        color: #fff;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 166.667% */
        letter-spacing: -0.36px;
      }

      & .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .left {
          display: flex;
          flex-direction: column;
          gap: 26px;
          max-width: 730px;

          & div {
            display: flex;
            gap: 4px;
            flex-direction: column;

            & p {
              margin: 0;
              color: #fff;
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 60px; /* 333.333% */
              letter-spacing: -0.18px;
            }

            & span {
              margin: 0;
              color: var(--Heading-2-Body-text, #ededed);
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 60px; /* 250% */
              letter-spacing: -0.24px;
            }
          }
        }
        & .right {
          & .img {
            width: 100%;
            max-width: 400px;
          }
          @media (max-width: $breakpoint-tablet) {
            display: none;
          }
        }
      }
    }
  }

  & .section_seven_container {
    // background: #040a1e;
    background: radial-gradient(
      100.91% 100.95% at 47.22% -0.91%,
      #040a1e 20.67%
    );
    padding: 80px;
    @media (max-width: $breakpoint-tablet) {
      padding: 10px;
    }

    & .section_seven {
      max-width: $maxwidth;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;

      & h2 {
        color: #fff;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 166.667% */
        letter-spacing: -0.36px;
        text-align: center;
      }

      & .reviews {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        @media (max-width: $breakpoint-tablet) {
          flex-direction: column;
          gap: 24px;
        }

        &_item {
          display: flex;
          padding: 60px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          border-radius: 10px;
          border: 1px solid var(--Stroke-for-cards, rgba(249, 189, 77, 0.6));
          background: rgba(23, 29, 48, 0.2);
          align-items: center;
          max-width: 542px;
          @media (max-width: $breakpoint-tablet) {
            padding: 1rem 10px;
          }
          & .stars {
            display: flex;
            gap: 10px;
          }

          & p {
            margin: 0;
            color: #fff;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 200% */
            letter-spacing: -0.2px;
          }

          & .profile {
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }
      }

      & .boxes {
        display: flex;
        gap: 10px;
        width: fit-content;
        margin: 0 auto;

        & .box {
          display: inline-flex;
          width: 22px;
          height: 22px;
          background: #b5b5b5;
        }

        & .filled {
          background: linear-gradient(99deg, #1160f7 0%, #5a48f8 100%);
        }
      }
    }
  }

  .section_eight_container {
    background: #171d30;
    text-align: center;
    padding: 80px;
    font-family: Poppins;
    @media (max-width: $breakpoint-large) {
      padding: 10px;
    }

    .section_eight {
      width: 100%;
      max-width: $maxwidth;
      margin: 0 auto;
    }

    & h2 {
      margin: 0;
      margin-bottom: 32px;
      color: #fff;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: -0.36px;
    }
    .content {
      display: flex;
      gap: 37px;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px 0;
      @media (max-width: $breakpoint-large) {
        padding: 10px;
      }
      padding: 10px 40px 0;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
      }

      .content-wrapper {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .content-box {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: flex-start;
        text-align: left;
        // border: 2px solid blue;

        &-item {
          // border: 2px solid green;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          max-width: 517px;
          gap: 12px;
        }

        .content-heading {
          line-height: 40px;
          color: #f9bd4d;
          text-align: left;
          margin: 0;
          @media (max-width: $breakpoint-small) {
            font-size: 1.2rem;
          }
        }
        .paragraph {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: -0.2px;
          margin: 0;
          @media (max-width: $breakpoint-small) {
            font-size: 1.2rem;
          }
        }
      }
    }
    .contact-us {
      flex-basis: 50%;
      width: 100%;
      max-width: 418px;
      // padding-right: 40px;
      margin: 0px 1rem;
      // border: 2px solid red;
      .contact-heading {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.22px;
        width: 100%;
        text-align: left;
        margin: 0;
      }

      & .contact-form {
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin-top: 24px;
      }
      .input {
        display: block;
        width: 100%;
        // margin: 2rem 1rem;
        // padding: 1rem;
        box-sizing: border-box;

        // padding-right: 0px;
        font-size: 20px;
        border-radius: 10px;
        background-color: rgba(70, 75, 94, 0.2);
        outline: none;
        border: none;
        height: 60px;

        &::placeholder {
          color: #394047;
        }
        @media (max-width: $breakpoint-tablet) {
          width: 100%;
        }
      }
      .textarea {
        display: block;
        width: 100%;
        resize: none;
        // margin: 1rem;
        // box-sizing: border-box;
        font-size: 20px;
        padding: 10px;
        // padding-right: 0px;
        background-color: rgba(70, 75, 94, 0.2);
        outline: none;
        border: none;
        border-radius: 10px;
        height: 324px;
        color: white;

        &::placeholder {
          color: #394047;
          font-size: 20px;
        }
        @media (max-width: $breakpoint-small) {
          width: 100%;
        }
      }
      .contact-btn {
        .button {
          display: block;
          width: 100%;
          // margin: 36px 1rem;
          // padding: 16px 24px;
          background-color: #f9bd4d;
          border-radius: 10px;
          outline: none;
          border: none;
          color: #171d30;
          font-size: 16px;
          font-weight: 700;
          margin: 0;
        }
      }
    }
  }

  .footer {
    padding: 200px 0 30px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: #040a1e;
    // border: 2px solid red;
    width: 100%;
    @media (max-width: $breakpoint-tablet) {
      padding: 10px;
    }

    .footer-wrapper {
      display: flex;
      gap: 40px;
      // border: 2px solid blue;
      max-width: 1000px;
      width: 100%;
      justify-content: space-between;
      margin: 0 auto;
      @media (max-width: $breakpoint-large) {
        gap: 10px;
        flex-wrap: wrap;
        padding: 10px;
      }
      @media (max-width: $breakpoint-small) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      h2 {
        color: #fff;
        opacity: 0.65;
        font-size: 15px;
        font-weight: 900;
        line-height: 26px; /* 173.333% */
        letter-spacing: -0.1px;
        font-family: Poppins;
      }
      & .path {
        @media (max-width: $breakpoint-small) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        p {
          color: #fff;
          font-size: 17px;
          font-weight: 900;
          line-height: 40px; /* 235.294% */
          letter-spacing: -0.2px;
          text-align: left;
          font-family: Poppins;
        }
      }
    }
    .social {
      max-width: 1000px;
      width: 100%;
      margin: 80px auto 0;

      .social-media-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & p {
          color: #fff;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 900;
          line-height: 26px; /* 173.333% */
          letter-spacing: -0.1px;
          opacity: 0.65;
        }
      }
    }
  }
}
