/* =================================================================
 *  Launchpage
 *
 * ----------------------------------------------------------------- */

.launchpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $subBackground;
}

.launchpage__logo {
    width: 30%;
}

.launchpage__title {
    text-transform: uppercase;
    sfont-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 80px;
}

.launchpage__title--blue {
    color: $mainColor;
}

.launchpage__cta {
    width: 30%;
}

@media only screen and (max-width:768px) {
    .launchpage__title {
        font-size: 5rem;
    }
}
@media only screen and (max-width:600px) {
    .launchpage__logo {
        width: 50%;
    }
    .launchpage__title {
        font-size: 4.5rem;
    }

    .launchpage__cta {
        width: 75%;
    }
}
@media only screen and (max-width:425px) {
    .launchpage__logo {
        width: 60%;
    }

    .launchpage__title {
        font-size: 3.5rem;
    }
}