/* =================================================================
 *  Launchpage
 *
 * ----------------------------------------------------------------- */

.launchpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $subBackground;
}

.launchpage__logo {
    width: 30%;
}

.launchpage__title {
    text-transform: uppercase;
    sfont-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 80px;
}

.launchpage__title--blue {
    color: $mainColor;
}

.launchpage__cta {
    width: 30%;
}

@media only screen and (max-width:768px) {
    .launchpage__title {
        font-size: 5rem;
    }
}
@media only screen and (max-width:600px) {
    .launchpage__logo {
        width: 50%;
    }
    .launchpage__title {
        font-size: 4.5rem;
    }

    .launchpage__cta {
        width: 75%;
    }
}
@media only screen and (max-width:425px) {
    .launchpage__logo {
        width: 60%;
    }

    .launchpage__title {
        font-size: 3.5rem;
    }
}


/* =================================================================
 *  Termspage
 *
 * ----------------------------------------------------------------- */

.termsPage {
    padding: 70px 30px;
}

.termsPage h2 {
    /*font-size: clamp(2rem,4vw,2.75rem);
    line-height: clamp(2.75rem,4vw,3.5rem);
    margin-bottom: 1.75rem;*/
}

.termsPage p {
    /*font-size: 1.2rem;
    line-height: 1.65rem;
    word-wrap: break-word;
    word-break: break-word;
    color: #040c1a;
    margin-bottom: 1.5rem;
    f*/ont-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
