/* =================================================================
 *
 *  Project: UniversalFX
 *  Author: Abassyornor Edem
 *  Date: 11th April 2024
 *  Description: UniversalFX v0.0.0 Main Stylesheet
 *  ----------------------------------------------------------------
 *
 *  Table of Content:
 *  01. Base, typography & theme styles
 *  09. Header
 *  09. Intro
 *
 * ================================================================= */

    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css");
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    @import './fonts/fonts.css';
    @import './fonts/nova/nova.css';
    @import './fonts/font-awesome/css/font-awesome.css';

/* ===================================================================
 *  01. Base, typography & theme styles
 *
 * ------------------------------------------------------------------- */
    @import './base/settings';
    @import './base/base';

    @import './components/image';
    @import './components/input';
    @import './components/button';
    @import './components/notification';
    @import './components/launchpage';
    @import './components/users/client/signup';
    @import './components/users/client/sideBar';
    @import './components/users/client/home';


    @import './components/misc';


.textcontent {
    padding: 10px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.textcontent__heading {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.textcontent__body {
    margin: 10px 0;
}

.textcontent__bodyText {
    font-size: 0.9em;
}

th:first-child, td:first-child, th:last-child, td:last-child {
    padding: 1.5rem 3rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $subColor;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $mainColor;
}