.signup {
    z-index: 0;
    display: flex;
    align-items: center;
    background: $subBackground;
    min-height: 100vh;
}

.signup .container{
    margin: auto;
    width: 100%;
    height: 100%;
}

.signup__form {
    padding: 3rem 0 3rem;
    z-indexf: 1;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, 0.25);
}

.signup__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.signup__logo {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.signup__formTitleBox {
    text-align: right;
}

.signup__greetings {
    color: $mainColor;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.signup__greetingsIcon {
    margin-left: 5px;
}

.signup__formTitle {
    color: rgba(51, 51, 51, 0.60);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "montserrat-bold", sans-serif;
    margin: 0;
    letter-spacing: 0rem;
}

/*.signup__form .overlay {
    z-index: -1;
    border-radius: 10px;
}*/

.signup__formInputs {
    width: 90%;
    display: block;
    margin-bottom: 100px;
}

.signup__formInput {
    margin: 25px 0px;

}

.signup__formDualInputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.signup__formDualInputs .signup__formInput {
    margin-right: 5px;
    width: 100%;
}

.signup__formDualInputs .signup__formInput:last-child {
    margin-right: 0px;
}

.signup__agreementText {
    color: rgba(51, 51, 51, 0.60);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "montserrat-bold", sans-serif;
    margin: 0;
    letter-spacing: 0rem;
    text-align: center;
    margin-bottom: 15px;
}


.signup__verification {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 1;
}

.signup__verificationControl {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: left;
}

.signup__verificationControlIcon {
    margin: 0 10px;
}

.signup__verificationInput{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.signup__verificationFormInputsText {
    text-align: left;
    font-size: 1.3rem;
}

.signup__verificationHead {
    width: 100%;
    font-weight: normal;
    text-align: center;
    font-family: "montserrat-bold", sans-serif;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0rem;
    margin-bottom: 10px;
}

.signup__verificationText {
    width: 100%;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
    font-family: "montserrat-bold", sans-serif;
    margin: 0;
    letter-spacing: 0rem;
    margin-bottom: 20px;
}

.signup__verificationCountDown{
    color: red;
    font-weight: bolder;
}

.signup__verificationButton {
    display: flex;
    justify-content: end;
}

.signup__verificationButton .button{
    width: 30%;
}

.signup__verificationResend{
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.signup--panel {
    background: white;
}

.signup--panel .signup__form {
    box-shadow: none;
    margin: 0;
    width: 100%;
}


.signup--panel__head {
    display: flex;
    align-items: end;
    padding: 20px 50px;
}

.signup--panel__headText {
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0;
    margin-left: 50px;
    padding: 5px;
}

.signup--panel__trackBar {
    display: flex;
}

.signup--panel__track {
    border: 2.5px solid $mainColor;
    width: 50%;
}

.signup--panel__body {
    display: flex;
    padding: 0 20px;
}

.signup--panel__sidebar {
    width: 35%;
    padding: 3rem 0 3rem;
}

.signup--panel__text {
    font-weight: 500;
    font-size: 2rem;
}

.signup--panel__sidebarMenu {
    padding: 0;
    margin: 20px 0;
    margin-right: 40px;
}

.signup--panel__sidebarMenuItem {
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: 500;
    color: $grey;
}

.signup--panel__sidebarMenuItem--active {
    background: $subColor;
    border-radius: 15px;
    color: black;
}

.signup--panel__sidebarMenuIcon {
    margin-right: 15px;
    margin-left: 20px;
    font-size: 2rem;
}

.signup--panel__sidebarMenuItem--active .signup--panel__sidebarMenuIcon {
    color: $mainColor;
}

.signup--panel__main {
    width: 65%;
}

.signup--panel .signup__formInputs {
    width: 90%;
}

.signup--panel__buttonBar {
    display: flex;
    justify-content: end;
}

.signup--panel__buttonBar button {
    width: 200px;
}


#personalInfoPanel .signup--panel__buttonBar {
    justify-content: space-between;
    width: 100%;
}

#personalInfoPanel .signup__formInputs, #personalInfoPanel .signup__heading {
    width: 100%;
}

.signup__google-sm {
    display: none;
}

@media only screen and (max-width:768px) {
    .signup--panel__sidebar {
        width: 40%;
    }

    .signup--panel__main {
        width: 60%;
    }

    .signup__form {
        width: 70%;
    }
}
@media only screen and (max-width:600px) {
    /*.signup--panel__sidebar {
        width: 40%;
    }

    .signup--panel__main {
        width: 60%;
    }
    .signup__form {
        width: 80%;
    }

    .signup--panel__body {
        padding: 0px 10px;
    }*/

    .signup {
        background: white;
        align-items: initial;
    }

    .signup .container {
        margin-top: 0;
    }

    .signup--panel__trackBar, .signup--panel__sidebar {
        display: none;
    }

    .signup--panel__head {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
    }

    .signup--panel__headText {
        margin: 0;
        padding: 0;
    }

    .signup--panel__main {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .signup--panel__buttonBar {
        justify-content: center;
    }

    .signup__form {
        width: 90%;
        box-shadow: none;
        margin-top: 0;
    }

    .signup__formInputs {
        margin-bottom: 50px;
    }

    .signup--panel .signup__formInputs {
        width: 100%;
    }

    .signup__buttonBar {
        display: flex;
        justify-content: center;
    }
    .signup__form .button {
        width: 170px;
        box-shadow: 7px 7px 100px 0px $mainColor;
    }

    .signup__heading {
        display: block;
        width: 100%;
    }

    .signup__formTitleBox {
        text-align: left;
        margin-top: 20px;
        display: block;
    }

    .signup__greetings {
        font-size: 2rem;
    }

    .signup__google {
        display: none;
    }

    .signup__google-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signup__googleDash {
        width: 80px;
        border: 0.5px solid $grey;
        vertical-align: middle;
        display: inline-block;
    }

    .signup__googleIcon-sm {
        border-radius: 50%;
        background: #d3d3d399;
        width: 50px;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .signup .overlay--fixed {
        opacity: 1;
        background: white;
    }

    .signup__verificationHead, .signup__verificationText {
        text-align: left;
    }

    .signup__verificationButton {
        justify-content: center;
    }

    .signup__verificationControlIcon {
        margin-left: 0;
    }

    .signup--panel__body {
        padding: 0 10px;
    }

    .signup__formDualInputs--split-sm {
        display: block;
    }
}
@media only screen and (max-width:425px) {

}